*{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
}

h2{
  font-size: 40px;
}

h1{
  text-transform: uppercase;
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

.menupunkte li{
  display: inline-block;
  list-style: none;
}

footer {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

.footerlinks {
  border-top: 3px solid black;
  margin: 10px auto;
  padding-top: 10px;
  padding-left: 0;
}

.footerlinks li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}

.sternchen{
  font-size: 40px;
}

.a:hover{
  background-color: red;
}

a{
  text-decoration: none;
  color: black;
}

img{
  width: 50%;
  border-width: 27%;
  border-height: 27%;
  border-color: 10px dotted black;
  border-style: 10px;
}
